/* footer */
.footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
  font-family: Arial, sans-serif;
}
.footer-logo img {
  width: 90px;
  margin-bottom: 20px;
}
.footer-menu {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 20px 0;
  flex-wrap: wrap;
}
.footer-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.footer-menu a:hover {
  color: #e0a96d;
}
.footer-text {
  max-width: 600px;
  margin: auto;
  margin-top: 15px;
  font-size: 14px;
  opacity: 0.9;
}
.footer-hours {
  margin-top: 20px;
  font-size: 14px;
}
.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}
.footer-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.reserve {
  background: #e0a96d;
}
.order {
  background: #d68b52;
}
/* .footer-btn:hover { */
  transform: scale(1.05);
}
.footer-socials {
  margin-top: 30px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer-end {
  margin-top: 25px;
  font-size: 14px;
  opacity: 0.8;
}
