h2 {
    text-align: center;
    margin-top: 40px;
}
.menu-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
    flex-wrap: wrap;
}
.menu-card {
    background: #38cfd9;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    width: 180px;
    cursor: pointer;
}
.menu-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}
.chef-section {
display: flex;
justify-content: space-around;
align-items: center;
padding: 60px;
flex-wrap: wrap;
}
.chef-text {
max-width: 350px;
}
.btn {
padding: 10px 20px;
background: #e0a96d;
border: none;
border-radius: 6px;
font-weight: bold;
cursor: pointer;
margin-top: 15px;
}
.chef-img img {
width: 330px;
border-radius: 12px;
}
.event-section {
margin-top: 50px;
text-align: center;
padding: 20px;
}
.event-banner {
position: relative;
width: 90%;
margin: auto;
}
.event-banner img {
width: 100%;
border-radius: 12px;
}
.event-overlay {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, 0.55);
border-radius: 12px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
padding: 20px;
}
.timer {
display: flex;
gap: 20px;
margin-top: 20px;
}
.timer-box {
background: #38cfd9;
padding: 10px 20px;
border-radius: 8px;
font-weight: bold;
color: #000;
}
.reserve-btn {
margin-top: 25px;
padding: 10px 20px;
border-radius: 8px;
background: #e0a96d;
border: none;
font-weight: bold;
cursor: pointer;
}